---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Landing page",
    price: "$500",
    popular: false,
    features: [
      "One time fee",
      "Contact form",
      "Up to 4 sections",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Landing page + 1",
    price: "$550",
    popular: true,
    features: [
      "All Free Features",
      "Up to 250/monthly submissions",
      "Opt-In Form",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Landing page + 3",
    price: "$800",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited revisions",
      "Up to 4 pages",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
